@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}

body {
  font-family: 'Nunito', sans-serif;
  /* background-color: #fff; */
  color: black;
}

.separator li::after {
  content: "/";
  margin: auto 10px;
}

.separator li:last-child::after {
  content: "";
}

.scale-in-center:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.scale-in-center {
  transform: scale(1);
  transition: all 0.3s ease;
  z-index: 0;
}